tools/*

# Build for HDL pre-compile.
hdl/build/*

# Build for projects.
prj/*/build/*

# Alternative builds for projects.
prj/*/build.*/*

# Build for testbenches.
tb/*/build/*

# Build and process for multipnr experiments.
prj/*/multipnr/*

# Formalpro working files and logs.
**/formalpro.cache
formalpro.log

# HAL working files and logs.
*/.hal-*
*/*.hal.design_facts
*/*.hal.log

# JasperGold working files and logs.
jgproject

# ModelSim working files and logs.
qverilog.log
**/work*

# Spyglass working files and logs.
**/spyglass
**/spyglass-*
sg_shell_command.log

# Vivado journal and logs.
vivado*.jou
vivado*.log
vivado*.str
webtalk*.jou
webtalk*.log
.Xil

# Xcelium working files and logs.
xmvlog.log
**/xcelium.d*

# VCS working files and logs.
**/csrc*
**/simv.daidir*
vcs.log

# Temporary TCL scripts.
*-lint_mk.tcl
*-lint_mk.prj
