tools/*

# Build for projects.
prj/*/build/*

# Alternative builds for projects.
prj/*/build.*/*

# Build for testbenches.
tb/*/build/*

# Build and process for multipnr experiments.
prj/*/multipnr/*

# Vivado journal and logs.
vivado*.jou
vivado*.log

# Temporary TCL scripts for Vivado.
hdl/vivado.tcl
