
# Plaintext tarball of UltraSoC delivery will never be intentionally committed.
protofiles.tar.gz
protofiles/*
vivado-addFiles.tcl

# Bitfiles I want to keep hanging around for testing.
minProtoUst.bit
